/* =====@_@ Import Font @_@=====  */
@import url('../Fonts/fonts.css');

/* =====@_@ Import Utilities @_@=====  */
@import url('../Styles/Utilities.css');

/* =====@_@ Import Variabels @_@=====  */
@import url('../Styles/variabels.css');

/* ===================^^^^^^^^^^^^^^^^^^^=================== */

/* =====@_@ Reset Styles for CryptoDashboard @_@=====  */

html {
  font-size: 62.5%;
 }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway Medium', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ===================^^^^^^^^^^^^^^^^^^^=================== */

/* =====@_@ Start App Main Styles @_@=====  */

/* Svg Styles  */
.svg {
  display: none;
}

/* Body Styles  */
body {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: "aside header" "aside main";
  grid-template-rows: 100px 100vh;
  background-color: var(--color_bg-white);
}

/* Header Styles  */
header {
  /* background-color: var(--color_gray-900); */
  grid-area: header;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

/* Aside Styles  */
aside {
  /* background-color: var(--color_pink-800); */
  grid-area: aside;
  width: 20%;
  position: fixed;
  top: 0;
  bottom: 0;
  box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.12);
  padding: 3rem;
}

/* Aside Styles >>>> 1) Aside Top Section  */
.aside-top {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
  width: 17rem;
  height: 4.1rem;
  color: var(--color_text-gray-950);
}

.aside-top__logo {
  color: inherit;
}

.aside-top__logoText {
  font-family: 'Inter Bold', sans-serif;
  font-size: 2.1rem;
}

/* Aside Styles >>>> 2) Aside Middle Section  */
.aside-middle {
  display: flex;
  flex-direction: column;
  row-gap: 3.2rem;
}
.aside-middle__links {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  width: 16.6rem;
  height: 3.2rem;
  color: var(--color_text-dark);
}

.aside-middle__text {
  font-family: 'Raleway SemiBold';
  font-size: 1.4rem;
  letter-spacing: 4%;
}

.aside-middle__icon--active {
  color: var(--color_text-gray-950);
}

/* Main Styles  */
main {
  /* background-color: var(--color_green-700); */
  grid-area: main;
}