/* =====@_@ Import Font @_@=====  */
@import url('../Fonts/fonts.css');

/* =====@_@ Import Utilities @_@=====  */
@import url('../Styles/Utilities.css');

/* =====@_@ Import Variabels @_@=====  */
@import url('../Styles/variabels.css');

/* ===================^^^^^^^^^^^^^^^^^^^=================== */

/* =====@_@ Reset Styles for CryptoDashboard @_@=====  */

html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway Medium', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  background-color: transparent;
  border: none;
}

/* ===================^^^^^^^^^^^^^^^^^^^=================== */

/* =====@_@ Start App Main Styles @_@=====  */
/* Body Styles  */
body {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-areas: "aside header" "aside main";
  grid-template-rows: 100px 100vh;
  background-color: var(--color_bg-white);
}
/* Header Styles  */
header {
  grid-area: header;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
/* Aside Styles  */
aside {
  grid-area: aside;
  width: 15%;
  position: fixed;
  top: 0;
  bottom: 0;
  box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.12);
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
}
/* Aside Styles >>>> 1) Aside Top Section  */
.aside-top {
  width: 17rem;
  height: 4.1rem;
  color: var(--color_text-gray-950);
  padding-left: 1.5rem;
}
.aside-top a {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
}
.aside-top__logoText {
  font-family: 'Inter Bold', sans-serif;
  font-size: 2.1rem;
}
/* Aside Styles >>>> 2) Aside Middle Section  */
.aside-middle {
  display: flex;
  flex-direction: column;
  row-gap: 2.6rem;
  margin-top: 5rem;
}
.aside-middle__links {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  width: 16.6rem;
  height: 3.2rem;
  padding: 2rem 1.5rem;
  color: var(--color_text-gray-950);
  transition: all 100ms ease-in-out;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-radius: 1rem;
}
.aside-middle__links--active {
  background-color: var(--color_blue-600);
  color: var(--color_white);
  box-shadow: 2px 0px 2px 0px #0000001F;
}
.aside-middle__links:hover {
  background-color: var(--color_blue-600);
  color: var(--color_white);
}
.aside-middle__text {
  font-family: 'Raleway SemiBold';
  font-size: 1.4rem;
  letter-spacing: 4%;
}
.aside-middle__icon--active {
  color: var(--color_text-gray-950);
}
/* Aside Styles >>>> 3) Aside Bottom Section  */
.aside-bottom {
  margin-top: auto;
  padding-left: 1.5rem;
}
.aside-bottom__setting {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
.aside-bottom__setting-link, .aside-bottom__logout-link {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  font-size: 1.4rem;
}
.aside-bottom__theme {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 6rem;
  width: 19.6rem;
}
.aside-bottom__theme  button {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  width: 9.8rem;
  height: 3.6rem;
  font-family: 'Raleway SemiBold';
  font-size: 1.4rem;
  letter-spacing: 10%;
  line-height: 3.6rem;
  color: var(--color_text-gray-950);
  cursor: pointer;
}

.aside-bottom__theme:nth-child(1) button {
  background-color: var(--color_bg-white);
}
/* Main Styles  */
main {
  /* background-color: var(--color_green-700); */
  grid-area: main;
}