/* =====@_@ Import Font @_@=====  */
@import url('../Fonts/fonts.css');

/* =====@_@ Import Variabels @_@=====  */
@import url('Variabels.css');

/* =====@_@ Import Utilities @_@=====  */
@import url('Utilities.css');

/* =====@_@ Media Queries @_@=====  */
@import url('./Media.css');




/* ===================^^^^^^^^^^^^^^^^^^^=================== */

/* =====@_@ Reset Styles for CryptoDashboard @_@=====  */
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway Medium', sans-serif;
  color: inherit;
}
a {
  text-decoration: none;
}
button {
  background-color: transparent;
  border: none;
}
input {
  border: none;
  outline: none;
}

/* ===================^^^^^^^^^^^^^^^^^^^=================== */

/* =====@_@ Start App Main Styles @_@=====  */

/* =====@_@ Start App Main Styles >> Body Styles  @_@=====  */
body {
  display: grid;
  background-color: var(--color_white);
}

/* =====@_@ Start App Main Styles >> Header Styles  @_@=====  */
header {
  grid-area: header;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  padding: 26px 31px;
}
/* Header Styles >> Left Side  */
.header-title {
  font-family: 'Poppins SemiBold';
  font-size: 3.2rem;
  line-height: 100%;
  color: var(--color_text-gray-950);
}
/* Header Styles >> Center  */
.header-searchbar {
  width: 40%;
  height: 4.4rem;
  background-color: var(--color_white-100);
  padding: 0 2rem 0 2rem;
  border: 1px solid var(--color_blue-600);
}
#header-search__input {
  width: 95%;
  height: 100%;
  color: var(--color_text-slate-800);
  caret-color: var(--color_blue-600);
}
#header-search__input::placeholder {
  font-family: 'Raleway Regular', sans-serif;
  font-size: 1.4rem;
  color: var(--color_text-gray-950-50);
  padding: 1rem 0;
}
.header-searchbar__btn {
  right: 2rem;
  top: 1rem;
  cursor: pointer;
  color: var(--color_text-gray-950-50);
}
/* Header Styles >> Right Side  */
.header-user-actions {
  column-gap: 3rem;
}
.user-actions__notification {
  background-color: var(--color_white-100);
  border: 1px solid var(--color_blue-600);
  cursor: pointer;
}
.user-action__info {
  column-gap: 1.5rem;
}
.user-action__info-name {
  color: var(--color_text-gray-950);
  column-gap: 1.5rem;
  cursor: pointer;
}
.user-action__info-name span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  font-family: 'Poppins SemiBold', sans-serif;
  font-size: 1.4rem;
  line-height: 100%;
  letter-spacing: 4%;
  width: 116px;
}
.user-action__info-img {
  width: 4.4rem;
  height: 4.4rem;
}

/* Development for 📱  and 📱📱 screens  */
.burger-menu {
  width: 4.4rem;
  height: 4.4rem;
  border: 1px solid var(--color_blue-600);
  border-radius: 1rem;
  cursor: pointer;
}

/* =====@_@ Start App Main Styles >> Aside Styles  @_@=====  */
aside {
  grid-area: aside;
  width: 15%;
  position: fixed;
  top: 0;
  bottom: 0;
  box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.12);
  padding: 3.2rem 3rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
/* Aside Styles >>>> 1) Aside Top Section  */
.aside-top {
  width: 17rem;
  height: 4.1rem;
  color: var(--color_text-gray-950);
  padding-left: 1.5rem;
}
.aside-top__link {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
}
.aside-top__logoText {
  font-family: 'Inter Bold', sans-serif;
  font-size: 2.1rem;
}
/* Aside Styles >>>> 2) Aside Middle Section  */
.aside-middle {
  display: flex;
  flex-direction: column;
  row-gap: 2.6rem;
  margin-top: 5rem;
}
.aside-middle__links {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  width: 16.6rem;
  height: 3.2rem;
  padding: 2.5rem 1.5rem;
  color: var(--color_text-gray-950);
  transition: all 100ms ease-in-out;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-radius: 1rem;
}
.aside-middle__links--active {
  background-color: var(--color_blue-600);
  color: var(--color_white);
  box-shadow: 2px 0px 2px 0px #0000001F;
}
.aside-middle__links:hover {
  background-color: var(--color_blue-600);
  color: var(--color_white);
}
.aside-middle__text {
  font-family: 'Raleway SemiBold';
  font-size: 1.4rem;
  letter-spacing: 4%;
}
.aside-middle__icon--active {
  color: var(--color_text-gray-950);
}
/* Aside Styles >>>> 3) Aside Bottom Section  */
.aside-bottom {
  margin-top: auto;
  padding-left: 1.5rem;
}
.aside-bottom__setting {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
.aside-bottom__setting-link, .aside-bottom__logout-link {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  font-size: 1.4rem;
}
.aside-bottom__theme {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 6rem;
  width: 19.6rem;
}
.aside-bottom__theme  button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  width: 9.8rem;
  height: 3.6rem;
  font-family: 'Raleway SemiBold';
  font-size: 1.4rem;
  letter-spacing: 10%;
  line-height: 3.6rem;
  color: var(--color_text-gray-950);
  cursor: pointer;
}
.aside-bottom__theme button:last-child {
  background-color: var(--color_white-100);
}

/* =====@_@ Start App Main Styles >> Main Styles  @_@=====  */
main {
  /* background-color: var(--color_green-700); */
  grid-area: main;
}