/* =====@_@ Media Queries @_@=====  */
@media  (max-width: 992px) {

  body {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "header" "main";
  }
 .header-title, .header-searchbar {
    display: none;
  }
  #aside {
    position: static;
    display: none;
  }

}

@media (min-width: 993px) {
  body {
    grid-template-columns: 15% 85%;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "aside header" "aside main";
  }
  aside {
    position: fixed;
}
}
