/* =====@_@ Media Queries @_@=====  */
@media  (max-width: 576px) {
  .user-action__info-name {
    display: none;
  }
}

@media  (max-width: 992px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "header" "main";
  }
 .header-title, .header-searchbar {
    display: none;
  }
  .header-searchbar--mb {
    display: flex;
    width: 70% !important;
    margin: 3.2rem auto;
    column-gap: 2rem;
  }
  .header-searchbar--mb button{
    order: 1;
  }
  .header-searchbar--mb input{
    order: 2;
  }
  #aside {
    position: static;
    display: none;
  }
  .burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 993px) {
  body {
    grid-template-columns: 15% 85%;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "aside header" "aside main";
  }
  aside {
    position: fixed;
  }
  .burger-menu {
    display: none;
  }
  .header-searchbar--mb {
    display: none;
  }
}
