@font-face {
    font-family: 'Inter Black';
    src: local('Inter 18pt Black'), local('Inter18pt-Black'),
        url('Inter18pt-Black.woff2') format('woff2'),
        url('Inter18pt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Bold';
    src: local('Inter 18pt Bold'), local('Inter18pt-Bold'),
        url('Inter18pt-Bold.woff2') format('woff2'),
        url('Inter18pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter ExtraBold';
    src: local('Inter 18pt ExtraBold'), local('Inter18pt-ExtraBold'),
        url('Inter18pt-ExtraBold.woff2') format('woff2'),
        url('Inter18pt-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter ExtraLight';
    src: local('Inter 18pt ExtraLight'), local('Inter18pt-ExtraLight'),
        url('Inter18pt-ExtraLight.woff2') format('woff2'),
        url('Inter18pt-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Light';
    src: local('Inter 18pt Light'), local('Inter18pt-Light'),
        url('Inter18pt-Light.woff2') format('woff2'),
        url('Inter18pt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Medium';
    src: local('Inter 18pt Medium'), local('Inter18pt-Medium'),
        url('Inter18pt-Medium.woff2') format('woff2'),
        url('Inter18pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter SemiBold';
    src: local('Inter 18pt SemiBold'), local('Inter18pt-SemiBold'),
        url('Inter18pt-SemiBold.woff2') format('woff2'),
        url('Inter18pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Regular';
    src: local('Inter 18pt Regular'), local('Inter18pt-Regular'),
        url('Inter18pt-Regular.woff2') format('woff2'),
        url('Inter18pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

