@font-face {
    font-family: 'Raleway Bold';
    src: local('Raleway Bold'), local('Raleway-Bold'),
        url('Raleway-Bold.woff2') format('woff2'),
        url('Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway Black';
    src: local('Raleway Black'), local('Raleway-Black'),
        url('Raleway-Black.woff2') format('woff2'),
        url('Raleway-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway ExtraBold';
    src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
        url('Raleway-ExtraBold.woff2') format('woff2'),
        url('Raleway-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway Light';
    src: local('Raleway Light'), local('Raleway-Light'),
        url('Raleway-Light.woff2') format('woff2'),
        url('Raleway-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway ExtraLight';
    src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'),
        url('Raleway-ExtraLight.woff2') format('woff2'),
        url('Raleway-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway Medium';
    src: local('Raleway Medium'), local('Raleway-Medium'),
        url('Raleway-Medium.woff2') format('woff2'),
        url('Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway SemiBold';
    src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
        url('Raleway-SemiBold.woff2') format('woff2'),
        url('Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway Regular';
    src: local('Raleway Regular'), local('Raleway-Regular'),
        url('Raleway-Regular.woff2') format('woff2'),
        url('Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway Thin';
    src: local('Raleway Thin'), local('Raleway-Thin'),
        url('Raleway-Thin.woff2') format('woff2'),
        url('Raleway-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

